body {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.postcard {
  background-image: url('assets/image1.jpg'); 
  background-size: cover;
  background-position: center;
  padding: 40px;
  width: 350px;/** ancho fijo de la postal*/
  border-radius: 15px;/*bordes redondeados*/
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);/* sobra para dar profundidad*/
  text-align: center;/* centrar el texto*/
  color: white;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message {
  font-size: 22.4px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signature {
  font-size: 16px;
  font-style: italic;
}